*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.card{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform .5s;

}

.card_back, .card_front{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 45);
    backface-visibility: hidden;

}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    background-color: aqua;
    transform: rotateY(180deg);


}

.card_back{
    color: aqua;
    background-color: rgb(32, 32, 32);
    font-size: 30px;


}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-size:50px;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#gameBoard{
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 15px;

}

